.dim_con{position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: #ffffffa0;}
.greeting {font-size: 2.7rem; font-weight: 800; color: #222; display: inline;}
/* text-shadow: 0 0 20px #ffdf2bc8, 0 0 30px #FFDF2Bc8, 0 0 30px #FFDF2Bc8; */
.box_timer {box-shadow: 0 15px 40px rgba(0,0,0,0.12); padding: 10px 20px; border-radius: 10px; background-color: #ffffff6d;}