.study_view_top_content_con{display: flex; flex-wrap: wrap;}
.study_view_top_content_con .study_view_top_profile_img{border: 1px solid #fff; border-radius: 20px; overflow: hidden; display: flex; align-items: stretch; justify-content: center;}
.study_view_top_content_con .study_view_top_btn_con{width: calc(100% + 20px);}
.study_view_top_content_con .study_view_top_btn{margin-left: 0px;}
.study_view_top_content_con .study_view_top_btn_inner{max-width: 55px; min-width:30px; cursor: pointer; border-radius: 10px; padding: 10px 5px; border: 2px solid #FFDF2B; background-color: transparent; text-align: center; font-size: 17px; font-size: 1.3rem; line-height: 23px; line-height: 1.7rem; font-weight: 500; letter-spacing: -0.02em; color: #FFDF2B}
.study_view_top_content_con .study_view_top_btn_inner_enter {font-weight: 700; color: #ff2bb1; border: 2px solid #ff2bb1;}
.study_view_top_content_con .study_view_top_btn_inner > span{margin-top: 5px; display: inline-block;}
.study_view_top_content_con .study_view_top_info_con {flex:5;} 
.study_view_top_content_con .study_view_top_btn_wrap {flex:2.5;}
.study_view_menu_con{font-size: 0; line-height: 0; text-align: right;}
.study_view_menu_con > li{display: inline-block; margin-right: 15px;}
.study_view_menu_con > li > div{cursor: pointer; text-align: center; font-size: 15px; font-size: 1.4rem; line-height: 21px; line-height: 2.1rem; font-weight: 400; letter-spacing: -0.02em; color: #fff;}
.study_view_menu_con > li > div:hover {font-size: 1.5rem;}
.study_view_menu_con > li > div > img{margin-bottom: 5px;}
.study_view_menu_con > li:last-child{margin-right: 0;}

.study_plus_btn{cursor: pointer; position: absolute; top: -1px; right: 0; border: 0px none; overflow: hidden; border-radius: 10px; padding: 2px 15px; font-size: 23px; font-size: 2.3rem; line-height: 29px; line-height: 2.9rem; font-weight: 400; letter-spacing: -0.02em; color: #b9ea16; border: 1px solid #b9ea16; background-color: transparent ;}
.study_plus_btn:hover {background-color: #b9ea16a4; color: white;}
@media all and (min-width: 992px) {
    .study_view_top_content_con{flex-wrap: nowrap; width: calc(100% + 20px); margin-left: -20px;}
    .study_view_top_content_con > div{padding-left: 20px;}
    .study_view_top_content_con .study_view_profile_img{order: 0;}
    .study_view_top_content_con .study_view_top_info_con{order: 1;}
    .study_view_top_content_con .study_view_top_btn_wrap{order: 2;}
}