.code-editor {
  position: absolute;
  width: 75%;
  top: 0px;
  right: 0px;
  height: 100vh;
}

.doc-editor{
  position: absolute;
  width: 25%;
  top: 0px;
  left: 0px;
  background-color: rgb(18, 19, 19);
  height: 99.4vh;
  color: aliceblue;
}