
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

.signin_background {
  margin: auto;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  height: 100vh;
  background : url("../../img/CodeHiveMainPic.png") no-repeat;
  background-size: cover;
  overflow: hidden;
  backdrop-filter: blur(2px);
}
.signup_form {
  width: 400px;
  text-align: center;
  margin: auto;
  /* justify-content: center; */
  align-items: center;
}
h1 {
  padding-top: 10%;
  text-align: center;
  margin-bottom: 60px;
  font-size: 32px;
  color: #fff;
}
body::before {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}
.signin_form {
  position: relative;
  z-index: 2;
}
.int_area {
  width: 400px;
  position: relative;
  margin-top: 20px;
  border-bottom: #fff;
}

.int_area:first-child {
    margin-top: 70px;
}
.int_area input {
    outline: none;
    width: 400px;
    padding: 20px 10px 10px;
    background-color: transparent;
    font-size: 18px;
    color: #fff;
    border: none;
    border-bottom: 1px solid rgb(195, 195, 195);
}
.int_area label {
    position: absolute;
    left: 10px;
    top: 15px;
    font-size: 16px;
    color: rgb(195, 195, 195);
    transition: all 0.5s ease;
}
.int_area input:focus + label,
.int_area input:valid + label {
    top: -2px;
    font-size: 13px;
    color: #b9ea16;
}
.btn_area {
    margin-top: 0px;
}
.btn_area button {
    margin-top: 10px;
    width: 400px;
    height: 50px;
    background: #bcd806e0;
    color: #fff;
    border: none;
    font-size: 20px;
    border-radius: 15px;
    cursor: pointer;
}
/* .google {
    background: #FFF;
} */
.caption {
    margin: auto;
    width: 60%;
    display: flex;
    margin-top: 20px;
    text-align: center;
    cursor: pointer;
}
.caption a {
    flex: 1;
    font-size: 15px;
    color:#d9ff00e0;
    margin-bottom: 30px;
}
.logo {
    display: block;
    width: 30%;
    margin: auto;
    margin-top: 50px;
}