h1 {
    color: palevioletred;
}
.video {
    /* width: 40px; */
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    /* min-width: 100%; */
    /* min-height: 100%; */
    display: block;
    margin: auto;
}
.enter_login {
    position: fixed;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 5px;
    /* right: 50%; */
    /* right: 40%; */
    z-index: 2;
    display: block;
    background-color: transparent;
    border: 2px solid red;
    width: 300px;
    height: 50px;
    cursor: pointer;
    
}
div:first-child {
    position: fixed;
    width: 100%;
    height: 100%;
}
.frame {
    /* margin: 0px;
    padding: 0px; */
    background-image: url("../../public/contents/CodeHiveMainPic.png");
    background-size: cover;

}



/* img:first-child {
    display: block;
    margin: auto;
    padding-top: 200px;
   
} */
/* img:nth-child(2) {
    display: block;
    margin: auto;
    padding-top: 50px;

} */
/* img:nth-child(3) {
    display: block;
    margin: auto;
    padding-top: 100px;
} */
/* img:nth-child(4) {
    display: block;
    position: fixed;
    bottom: 20px;
    left: 45%;
} */
/* img {
    width: 100%;
    height: 1127px;
} */
.logo {
    z-index: 2;
}