.chat_con {display: flex; flex-wrap: nowrap; flex-direction: column; background-color: #e6e6fa; border-radius: 10px;}
.chat_box{background-color: #E6E6FA; overflow: hidden; border-top-left-radius: 10px; border-top-right-radius: 10px;}
.chat_list_con{min-height:150px; max-height: 200px; overflow-y: auto;}
.chat_list_con::-webkit-scrollbar {width: 10px;}
.chat_list_con::-webkit-scrollbar-thumb {background-color: #2f3542; border-radius: 10px; background-clip: padding-box; border: 2px solid transparent;}
.chat_list_con::-webkit-scrollbar-track {background-color: grey; border-radius: 10px; box-shadow: inset 0px 0px 5px white;}
.chat_list{font-size: 0; line-height: 0;}
.chat_list > li{margin-bottom: 10px; padding-left: 10px; padding-right: 10px;}
.chat_list > li:last-child{padding-bottom: 10px; margin-bottom: 0;}
.chat_list > li > .chat_info{display: flex; margin-bottom: 5px; padding-left: 3px; font-size: 15px; font-size: 1.5rem; line-height: 21px; line-height: 2.1rem; font-weight: 400; letter-spacing: -0.02em; color: #17181d;}
.chat_list > li > .chat_info > .chat_name{margin-right: 5px; font-weight: 700;}
.chat_list > li.talk_my{text-align: right;}
.chat_list > li.talk_my > .chat_info{flex-direction: row-reverse;}
.chat_list > li.talk_my > .chat_info > .chat_name{margin-right: 0; margin-left: 5px;}
.chat_list > li > .chat_contents{display: inline-block; font-size: 15px; font-size: 1.5rem; line-height: 21px; line-height: 2.1rem; font-weight: 300; letter-spacing: -0.02em; color: #17181d; background-color: #E2E2E2; word-break: break-all; padding: 7px; border-radius: 10px;}
.input_box{padding: 10px 10px; display: flex; align-items: center; background-color: #e8d7fab7; backdrop-filter: blur(10px); border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;}
.input_box > input{border: none; padding: 10px; flex-grow: 1; border-radius: 10px; outline: none; margin-right: 10px;}
.input_box > button{font-size: 0; line-height: 0; background: none; border: none;}
.input_box > button > img{width: 20px;}