
/* @import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap"); */
/* @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: "Poppins";
}


.login_form {
  -webkit-animation: fadein 2s;
}
@-webkit-keyframes fadein { 
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}


.signin_background {
  margin: auto;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  height: 100vh;
  background : url("../../img/codehive_main_pic.png") no-repeat;
  background-size: cover;
  overflow: hidden;
  backdrop-filter: blur(2px);
}
.signup_form {
  width: 400px;
  text-align: center;
  margin: auto;
  /* justify-content: center; */
  align-items: center;
}
.login_title {
  padding-top: 15px;
  text-align: center;
  margin-bottom: 5px;
  font-size: 32px;
  color: #fff
}
body::before {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}
.signin_form {
  position: relative;
  z-index: 2;
}
.int_area {
  display: flex;
  width: 400px;
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
  border-bottom: #fff;
  
}
.int_area:first-child {
    /* margin-top: 30px; */
}
.int_area input {
    flex: 6;
    width: 400px;
    padding: 10px 10px 0px;
    background-color: transparent;
    font-size: 17px;
    color: #fff;
    border: none;
    border-bottom: 1px solid rgb(255, 255, 255);
}
.int_area label {
    position: absolute;
    /* margin-top: -10px; */
    left: 10px;
    top: 30px;
    font-size: 15px;
    color: rgb(205, 205, 205);
    transition: all 0.5s ease;
    
}
.int_area span {
    margin-top: 20px;
    /* align-content: flex-end; */
    vertical-align: bottom;
    flex: 1;
    color: white;
    text-align: center;
    line-height: 40px;
    font-size: 12px;
    font-weight: bold;
    height: 40px;
    background-color:#ffd900c1;
    border-radius: 10px;
    cursor: pointer;
}
.int_area span:hover{
    background-color: #ffe137d6;
}
.int_area input:focus + label,
.int_area input:valid + label {
    top: -2px;
    font-size: 13px;
    color: #b9ea16;
}
.btn_area {
    margin-top: 0px;
}
.btn_area button {
    margin-top: 10px;
    width: 400px;
    height: 50px;
    background: #bcd806e0;
    color: #fff;
    border: none;
    font-size: 20px;
    border-radius: 15px;
    cursor: pointer;
}
.btn_area .google {
    background: #ffffffe2;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.google img {
  /* flex: 1; */
  width: 27px;
  margin-right: 7px;
}
.caption { 
    margin: auto;
    width: 80%;
    display: flex;
    margin-top: 20px;
    text-align: center;
    cursor: pointer;
}
.caption a {
    flex: 1;
    font-size: 12px;
    color:#d9ff00e0;
    margin-bottom: 30px;
}
.caption a :nth-child(2){
  margin-left: -10px;
}
.logo {
    display: block;
    width: 30%;
    margin: auto;
    margin-top: 20px;
    cursor: pointer;
}
.verify_message {
    margin-left: 10px;
    margin-top: -10px;
    font-size: 12px;
    color: rgb(252, 84, 28);
    /* text-shadow: 0.3px 0.3px white; */
}
.verification_input {
  margin: auto;
  margin-top: -10px;
  font-size: 17px;
  letter-spacing: 1.5px;
  font-weight: bold;
  color: #333(105, 26, 0);
  background-color: #ffffffb7;
  border: none;
  border-radius: 5px;
  padding: 7px;
}
.timer {
  display: inline-block;
  font-size: 18px;
  color: rgb(255, 80, 80);
  padding: 5px 10px;
  width: 80px;
}
.emailCheck {
  text-align: center;
  display: inline-block;
  /* margin-bottom: 20px; */
  margin-left: 10px;
  /* margin-bottom: 10px; */
  padding: 5px 10px;
  color: white;
  background-color: #ffd900c1;
  border-radius: 10px;
  line-height: 20px;
  height: 30px;
  width: 53px;
  cursor: pointer;
  font-weight: bold;
  font-size: 10px;
}
.emailCheck:hover {
  background-color : #ffe137d6
}