/* timer.css */
.timer_container {display: flex; align-items: center;}
.subtitle_timer {
    display: inline-block;
    margin-left: 5px;
    font-size: 15px;
    font-weight: bold;
  }
  .custom_progress_bar {
    text-shadow: 0 0 20px #1f95afaf, 0 0 30px #1f95afaf, 0 0 30px #1f95afaf;
  }
.progress_bar_container {}
  .controller {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
  }
  .timer_inputs {

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 10px;
    justify-content: left; /* Align inputs to the right */
  }
  
  .timer_inputs input {
    font-size: 1.3rem;
    width: 50px;
    padding: 5px;
    text-align: center;
    margin-left: 5px; /* Adjust margin to create space between inputs */
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .timer_inputs span {
    font-size: 1.3rem;
    margin-left: 5px; /* Adjust margin to create space between inputs and labels */
  }
  
  .timer_buttons {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content:left; /* Align buttons to the right */
  }
  
  .timer_buttons button {
    font-size: 1.2rem;
    margin-left: 5px; /* Adjust margin to create space between buttons */
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #1f839abb;
    color: #fff;
  }
  
  .timer_buttons button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
  
  .timer_buttons button:hover {
    background-color: #1f839aec;
  }
  