.editor_toolbar_con{margin-bottom: 0;}
.editor_con{border: 1px solid #F1F1F1; background-color: #fff; border-top: 0px none; padding: 6px 5px; min-height: 250px; max-height: 350px; overflow-y: auto; box-sizing: border-box;}
.editor_wrapper{border-radius: 8px; overflow: hidden; font-size: 12px; font-size: 1.2rem; line-height: 18px; line-height: 1.8rem;}
.editor_wrapper *{list-style: inherit;}
.editor_result * {list-style: inherit;}