<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div style="position: absolute; width: 520px; height: 408px; top: 75px; font-size: 18px; margin-left: 20px;">
    <h1>이메일 인증코드</h1>
    <hr>
    <span>실시간 양방향 코드 채점, 편집 알고리즘 스터디 플랫폼</span>
    <br>
    <span style="color: #f3c73c"><b>코드 하이브</b></span>
    <span>에 가입하신 것을 환영합니다!</span>
    <br><br>
    <span>아래의 인증번호를 확인하여 인증을 완료해주세요.</span>
    <br> <br>
    <span style="font-size: 14px; color: #868e96; font-weight: bold">인증번호</span>
    <div style="margin-top: 20px; margin-bottom: 20px;">
        <input th:value="${code}" value="" style="font-size:58px; height:60px; width:500px; background-color:#f8f8f8; border:none" readonly="">
    </div>
    <div style="font-size: 18px; color: darkgray">
        <span>코드하이브의 서비스 이용방법이 궁금하시다면?</span>
        <br>
        <span>아래의 도움말을 참고해보세요!</span>
    </div>
</div>
</body>
</html>
