.point0{color: #FFDF2B !important;}
.bg_point0{background-color: #FFDF2B !important;}

/*필수 표시*/
.essential{display: inline-block; padding-right: 8px; position: relative;}
.essential::after{content: "*"; position: absolute; top: 2px; right: 0; font-size: 10px; font-size: 1.0rem; line-height: 16px; line-height: 1.6rem; font-weight: 500; letter-spacing: -0.02em; color: #f00;}

/* input_style_0 */
.input_style_0{width: 100%; appearance: none; border: 1px solid #17181d; overflow: hidden; border-radius: 8px; padding: 7px 10px; background-color: #fff; font-size: 17px; font-size: 1.7rem; line-height: 23px; line-height: 2.3rem; font-weight: 400; letter-spacing: -0.02em; color: #17181d; outline: none;}
.input_style_0:-moz-placeholder {color: #d9d9d9;}
.input_style_0:-ms-input-placeholder {color: #d9d9d9;}
.input_style_0::-moz-placeholder {color: #d9d9d9;}
.input_style_0::-webkit-input-placeholder {color: #d9d9d9;}

/* btn_style_0 */
.btn_style_0{display: inline-block; box-sizing: border-box; overflow: hidden; border: 1px solid #17181d; cursor: pointer; appearance: none; outline: none; padding: 6px 14px; border-radius: 5px; text-align: center; font-size: 17px; font-size: 1.7rem; line-height: 23px; line-height: 2.3rem; font-weight: 500; letter-spacing: -0.02em; color: #17181d; background-color: transparent;}
.btn_style_0.border_none{border: 0px none; padding: 7px 15px;}
.btn_style_0[class*=bg_]{border: 0px none; padding: 7px 15px;}
.btn_style_0.bg_black{background-color: #000; color: #fff;}
/* form_style_0 */
.form_style_0_con .form_style_0{margin-bottom: 17px;}
.form_style_0_con .form_style_0:last-child{margin-bottom: 0;}
.form_style_0_con .form_style_0 .label_box{margin-bottom: 13px;}
.form_style_0_con .form_style_0 .label_box > *{font-size: 17px; font-size: 1.7rem; line-height: 23px; line-height: 2.3rem; font-weight: 400; letter-spacing: -0.02em;}
.form_style_0_con .form_style_0 .addr_text{font-size: 15px; font-size: 1.5rem; line-height: 21px; line-height: 2.1rem; font-weight: 500; letter-spacing: -0.02em; color: #17181d;}
/*기간*/
.form_style_0_con .form_style_0.type_date_range .input_box{display: flex; align-items: center;}
.form_style_0_con .form_style_0.type_date_range .input_box > input{flex: 1;}
.form_style_0_con .form_style_0.type_date_range .addr_text{margin-left: 7px; margin-right: 7px;}

@media all and (min-width: 992px){
    
    /* form_style_0 */
    .form_style_0_con .form_style_0 .label_box{width: 200px; margin-top: 7px; margin-bottom: 0;}
    .form_style_0_con .form_style_0 .input_box{width: calc(100% - 200px);}
}

